body {
  background-color: #474747;
  background-image: url("image/istockphoto-1138395421-612x612.jpg");
  background-size: cover;
  align-content: center;
  color: rgba(250,235,215,0.582);
}
body h3>.th_h3 {
  background-color: #89898d;
  border-radius: 5px 20px 5px;
  color: #ff7b00;
  padding-left: 25px;
  padding-right: 25px;
  text-shadow: 2px 1px rgba(22,22,22,0.658);
}
body >table {
  border-spacing: 0.5rem;
}
body >table >thead>thead>#thead_table {
  border-radius: 5px 20px 5px;
}
body >table>thead>tr {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #0e0f0f;
  width: max-content;
}
body >table>thead>tr >#th {
  border-top: 2px solid #b6b65c;
  border-radius: 5px 20px 5px/65px 65px;
}
body >table>thead>tr >#th_1 {
  color: #e69935;
}
body >table>thead>tr >#th_2 {
  color: #f73a19;
  padding: 5px;
  text-align: center;
}
body >table>thead>tr >#td_moy {
  color: #df912b;
  padding: 5px;
  text-align: center;
}
body >table>thead>tr >th>#td_moy_number {
  color: #f73a19;
  text-align: center;
}
body >table>tbody>tr >#td_all_NOM {
  background-color: rgba(10,10,15,0.801);
  color: #ee4511;
  text-align: left;
  text-transform: uppercase;
  padding: 0px 8px 0px 8px;
}
body >table>tbody>tr #td_all_Prenom {
  background-color: rgba(10,10,15,0.644);
  color: rgba(238,142,17,0.705);
  padding: 0px 8px 0px 8px;
}
body >table>tbody>tr #td_all_Date {
  background-color: rgba(10,10,15,0.466);
  text-align: center;
}
body >table>tbody>tr #td_all_Moy {
  background-color: rgba(206,77,54,0.411);
  text-align: center;
  border: solid 1px transparent;
  border-left-color: #fa0e0e;
  color: #d44545;
  text-shadow: 1px 2px rgba(22,22,22,0.658);
  border-radius: 50%;
}
body >table>tbody>tr #td_all_App {
  background-color: rgba(167,126,65,0.384);
  text-align: center;
  text-shadow: 1px 1px rgba(22,22,22,0.658);
  padding: 0px 8px 0px 8px;
}
body >table>tbody>tr #td_all_Modif {
  background-color: rgba(168,204,165,0.164);
  text-align: center;
  text-shadow: 1px 1px rgba(22,22,22,0.658);
  border: solid 2px transparent;
  border-radius: 5px 20px 5px;
  border-left-color: rgba(42,250,14,0.692);
  padding: 7px;
  width: auto;
}
body >table>tbody>tr #td_all_Modif >#a_modif {
  color: rgba(248,248,248,0.479);
  text-shadow: 1px 1px rgba(22,22,22,0.658);
}
body >table>tbody>tr #td_all_Delete {
  background-color: rgba(204,165,165,0.164);
  text-align: center;
  text-shadow: 1px 1px rgba(22,22,22,0.658);
  border: solid 2px transparent;
  border-radius: 20px 5px 20px;
  border-right-color: rgba(250,14,14,0.692);
  padding: 7px;
  width: auto;
}
body >table>tbody>tr #td_all_Delete >#a_Delete {
  color: rgba(253,6,6,0.616);
  text-shadow: 1px 1px rgba(17,17,17,0.596);
}
body>table>tfoot>tr {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #0e0f0f;
  border-radius: 5px 20px 5px;
  width: max-content;
  border: 5px solid #f7f5f5;
}
body>table>tfoot>tr >#th_foot {
  border-top: 2px solid #575756;
  border-radius: 5px 20px 5px/65px 65px;
}
body>table>tfoot>tr >#th_1 {
  color: #e69935;
}
body>table>tfoot>tr >#th_2 {
  color: #f73a19;
  padding: 5px;
  text-align: center;
}
body>table>tfoot>tr >#td_moy {
  color: #df912b;
  padding: 5px;
  text-align: center;
}
body>table>tfoot>tr >th>#td_moy_number {
  color: #f73a19;
  text-align: center;
}
div.reponse {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #5f7e7e;
  margin: 5px 1px 1px 95px;
  padding-left: 15px;
  width: max-content;
}
div.reponse >p.reponse {
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 10px;
}
div.reponse >h3.reponse {
  color: #f9faf998;
}
