/* ************************************************************************** */
/*                                    TINY                                    */
/* ************************************************************************** */

body {
  background-color: #474747;

  background-image: URL("IMAGE/PNGWING.COM_2_.PNG");

  background-size: cover;
  
}